<header>
  <h2>WishList</h2>
</header>



<div class="home-container">



  <div class="home-flex">

    <div class="container mt-4 background add-item" >
      <div class="">
              <h1 class="text-center mb-4 mt-4 ttl">Add a Wish</h1>
      
      <form class="d-flex justify-content-between ">
          <div class="form-group ">
            <label>Name</label>
            <input type="text" [(ngModel)]="item_name" [ngModelOptions]="{standalone: true}" class="form-control" id="item_name" placeholder="Enter Name">
          </div>
  
          <div class="form-group ">
              <label>Receiver</label>
              <input type="text" [(ngModel)]="item_receiver" [ngModelOptions]="{standalone: true}" class="form-control" id="item_receiver" placeholder="Enter Receiver">
            </div>
      
          <div class="form-group">
            <label>Brand</label>
            <input type="text" [(ngModel)]="item_brand" [ngModelOptions]="{standalone: true}" class="form-control" id="item_brand" placeholder="Enter Brand">
          </div>
      
          <div class="form-group">
              <label>Price</label>
              <input type="text" [(ngModel)]="item_price" [ngModelOptions]="{standalone: true}" class="form-control" id="item_price" placeholder="Enter Price">
            </div>
  
            <div class="form-group">
              <label>Image</label>
              <input type="file" [(ngModel)]="item_image" [ngModelOptions]="{standalone: true}" class="form-control" id="item_image" placeholder="Enter Image">
            </div>
  
          <button type="submit" class="btn btn-primary mt-4 " (click)="save()" >Add / Update</button>
        
        </form>
      </div>



  </div>

  <div class="right">
  <div class="overview">
    <div class="overview-row">
      <h4>Total Wish</h4>
      <h4>{{ItemArray.length}}</h4>
    </div>
    <div class="overview-row">
      <h4>Total Price</h4>
      <h4>{{totalPrice}}</h4>
    </div>
  
  </div>


  <div class="mt-4 wishlist" >

    

    <h1 class="ttl">Wishlist</h1>
<table class="table">
    <thead>
     <h1 *ngIf="!isResultLoaded">Please wait</h1>      
    <tr class="tbl-header">
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Receiver</th>
        <th scope="col">Brand</th>  
        <th scope="col">Price</th>  
        <th scope="col"></th>  
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ItemItem of ItemArray">
            <td> <button type="button btn-table" class="btn btn-danger ml-2" (click)="setDelete(ItemItem)">

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e5dcb3" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            </button>     </td>
            <td><p class="table-content">{{ItemItem.id  }}</p></td>
        <td><p class="table-content">{{ItemItem.name }}</p></td>
        <td><img class="tbl-img" src="../../assets/{{ItemItem.image}}" /></td>
        <td><p class="table-content">{{ItemItem.receiver}}</p></td>
        <td><p class="table-content">{{ItemItem.brand}}</p></td>
        <td><p class="table-content">{{ItemItem.price}}</p></td>
      
        <td>
          <button type="button" class="btn btn-success mr-2" (click)="setUpdate(ItemItem)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e5dcb3" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg></button>
          
                
        </td>
      </tr>          
    </tbody>
  </table>
</div>
</div>
</div>

</div>


 
       